{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% extends 'ZephyrEditableBundle::layout.html.twig' %}

{% block zephyr_editable_content %}
    <h1>Media</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medium.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ medium.reference }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ medium.description }}</td>
            </tr>
            <tr>
                <th>Filename</th>
                <td>{{ medium.fileName }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if medium.createdAt %}{{ medium.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if medium.updatedAt %}{{ medium.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_media_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_media_edit', { 'id': medium.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
